%link_type_modal-underline {
  position: relative;

  padding-right: 15px;
  
  text-decoration: underline;

  &::before {
    position: absolute;    
    top: 8px;
    right: 8px;

    width: 5.5px;
    height: 1px;

    content: "";
  }

  &::after {
    position: absolute;
    top: 6px;
    right: 6px;

    width: 0;
    height: 0;

    content: "";

    transform: scaleX(2) translateY(.5px) rotate(-45deg);

    border-width: 2px;
    border-style: solid;
  }
}
