.demo {
    &__title {
      margin-top: 0;
    }
    &__content {
      width: 530px;
    }
    &__button-group {
      margin-top: 20px;
    }
    &__button-group-item {
      margin-right: 15px;
    }
  }
  