@import "theme";

%close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 4;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -2px;
    right: 6px;
    display: block;
    width: 2px;
    height: 19px;
    border-radius: 3px;
    background-color: var(--isp-color__default-font, $isp-color__default-font);
  }

  &::before {
    transform: rotate(45deg)
  }

  &::after {
    transform: rotate(-45deg)
  }

}

